.card{
    background-color:#212121;
    color:#ffffff;
}

.card-title{
    color:#4dff00;
}
  
.btn{
    background-color:#b30000;
    border-color:#b30000;
}
.btn:hover{
    background-color:#212121;
    border-color:#b30000;
    color:#4dff00;
}