.card{
    background-color:#212121 !important;
    color:#ffffff;
}

.card-title{
    color:#4dff00 !important;
}

.btn{
    background-color:#b30000 !important;
    border-color:#b30000 !important;
}

.btn:hover {
    background-color:#212121 !important;
    border-color:#b30000 !important;
    color:#4dff00 !important;
}