*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    height:100%;
    background-color:#000000;
    color:#ddd;
    font-size:16px;
}

.tituloDePag{
    font-size:2rem;
    text-align:center;
    color:#8cff5b;
}