*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background-color:#000000;
    color:#ddd;
    font-size:16px;
}

html{
    font-family:'creepster',sans-serif;
}

.tituloDePag{
    font-size:2rem;
    text-align:center;
    color: #4dff00;
}